<config>
	<device>
		<VID>0x16c0</VID>
		<PID>0x5df</PID>
		<K>0.034</K>
		<max_pulse>96</max_pulse>
		<min_pulse>48</min_pulse>
		<servo_amount>12</servo_amount>
		<leglength>
		<!-- 0-1, 1-2, 2-G, 3-4, 4-5, 5-G enz. -->
			<cm>3</cm>
			<cm>6.5</cm>
			<cm>4</cm>
			<cm>3</cm>
			<cm>5</cm>
			<cm>4</cm>
		</leglength>
	</device>
</config>